<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${title}"></title>
    <!--style>
        th, td {
            padding: 5px;
        }
        td span  {
            font-size:90%;
            font-style: italic;
            color: red;
        }
        .error {
            color: red;
            font-style: italic;
        }
    </style-->
	<link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>

<!-- Include _menu.html
<th:block th:include="/_menu"></th:block>-->

<h2>Register</h2>

<div th:if="${errorMessage != null}"
     th:utext="${errorMessage}" class="error">...</div>

<form th:action="@{/collaborator/register}" th:object="${appUserForm}" method="POST">
    <table>
        <tr class="line">
            <td>First name</td>
            <td><input type="text" th:field="*{FirstName}" pattern="[a-zA-ZÀ-ÿ-']{1,128}" required/> </td>
        </tr>
        <tr class="line">
            <td>Last name</td>
            <td><input type="text" th:field="*{LastName}" pattern="[a-zA-ZÀ-ÿ-']{1,128}" required/> </td>
        </tr>
        <tr class="line">
            <td>Enrollment time</td>
            <td><input type="date" th:field="*{EnrollmentTime}" required/> </td>
        </tr>
        <tr class="line">
            <td>Departure time</td>
            <td><input type="date" th:field="*{DepartureTime}" /> </td>
        </tr>
        <tr class="line">
            <td>Device</td>
            <td>
				<select>
				    <option value=""> -- </option>
				    <option 
				    		th:each="itemDevice : ${devices}"
				            th:value="${itemDevice.id}"
				            th:utext="${itemDevice.name}" />
				</select>
			</td>
        </tr>

        <tr class="line">
            <td>Desk</td>
            <td>
				<select>
				    <option value=""> -- </option>
				    <option 
				    		th:each="itemDesk : ${desks}"
				            th:value="${itemDesk.id}"
				            th:utext="${itemDesk.numero}" />
				</select>
			</td>
        </tr>
        <tr class="line">
            <td><input type="hidden" th:field="*{id}" /> </td>
        </tr>

        <tr class="line">
            <td>&nbsp;</td>
            <td>
                <input type="submit" value="Submit" />
                <a th:href="@{/}">Cancel</a>
            </td>
            <td>&nbsp;</td>
        </tr>
    </table>
</form>

</body>
</html>