<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${title}"></title>
    <style>
        th, td {
            padding: 5px;
        }
        td span  {
            font-size:90%;
            font-style: italic;
            color: red;
        }
        .error {
            color: red;
            font-style: italic;
        }
    </style>
</head>
<body>

<!-- Include _menu.html
<th:block th:include="/_menu"></th:block>-->

<h2>Register</h2>

<div th:if="${errorMessage != null}"
     th:utext="${errorMessage}" class="error">...</div>

<form th:action="@{/desk/register}" th:object="${appUserForm}" method="POST">
    <table>
        <tr>
            <td>Numero</td>
            <td><input type="text" th:field="*{numero}" /> </td>
        </tr>
        <tr>
            <td>Commentaire</td>
            <td><input type="text" th:field="*{comment}" /> </td>
        </tr>
        <tr>
            <td><input type="hidden" th:field="*{id}" /> </td>
        </tr>
        <tr>
            <td>Device</td>
            <td>
                <select multiple th:field="*{devices}">
                    <option value=""> -- </option>
                    <option th:each="device : ${DevicesObject}"
                            th:value="${device.id}"
                            th:utext="${device.name}"/>
                </select>
        </tr>

        <tr>
            <td>Collaborateur</td>
            <td>
                <select th:field="*{collaborator}">
                    <option value=""> -- </option>
                    <option th:each="itemCollaborator : ${collaboratorObject}"
                            th:value="${itemCollaborator.id}"
                            th:utext="${itemCollaborator.firstName}"/>
                </select>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit" value="Submit" />
                <a th:href="@{/}">Cancel</a>
            </td>
            <td>&nbsp;</td>
        </tr>
    </table>
</form>

</body>
</html>