<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>MyPlan -- connection</title>
		<link rel="stylesheet" th:href="@{/css/main.css}">
    </head>
    <body>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        
		<form th:action="@{/user/loginCheck}" th:object="${appUserForm}" method="POST">
	        <table>
		        <tr class="line">
		            <td>Login</td>
		            <td><input type="text" th:field="*{username}" pattern="[a-zA-ZÀ-ÿ-']{1,128}" required/> </td>
		        </tr>
		        <tr class="line">
		            <td>Password</td>
		            <td><input type="password" th:field="*{password}" pattern="[a-zA-ZÀ-ÿ-']{1,128}" required/> </td>
		        </tr>
		        <tr class="line">
		            <td><input type="hidden" th:field="*{userId}" /> </td>
		        </tr>
		
		        <tr class="line">
		            <td>&nbsp;</td>
		            <td>
		                <input type="submit" value="Submit" />
		                <a th:href="@{/}">Cancel</a>
		            </td>
		            <td>&nbsp;</td>
		        </tr>
		    </table>
	    </form>
    </body>
</html>