<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${title}"></title>
    <!-- style>
        th, td {
            padding: 5px;
            border: double 2px #A0A6F3;
        }
        .error {
            color: red;
            font-style: italic;
        }
    </style-->
	<link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<script>

    function onclick(test){
        alert(test)
    }

</script>

<body>
<div th:if="${errorMessage != null}"
     th:utext="${errorMessage}" class="error">...</div>

<table>
    <tr class="line">
        <th>Id</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Enrollment date</th>
        <th>Departure date</th>

    </tr>
    <tr th:each="collaborator : ${collaboratorsList}" class="line">
        <td th:text="${collaborator.id}"></td>
        <td th:text="${collaborator.firstName}"></td>
        <td th:text="${collaborator.lastName}"></td>
        <td th:text="${collaborator.enrollmentTime}"></td>
        <td th:text="${collaborator.departureTime}"></td>
        <td>
            <form th:action="@{/collaborator/delete}" th:object="${appUserForm}" method="POST">
                <input type="hidden" name="id" th:value="${collaborator.id}">
                <button type="submit">Delete</button>
            </form>
        </td>
        <td>
            <form th:action="@{/collaborator/redirectUpdate}" th:object="${appUserForm}" method="POST">
                <input type="hidden" name="id" th:value="${collaborator.id}">
                <button type="submit">Update</button>
            </form>
        </td>
        <!-- <td><a data-toggle="modal" data-target="#editModal"><span class="glyphicon glyphicon-edit"></span></a></td> -->
    </tr>
</table>
<form th:action="@{/desk/addDesk}" method="GET" class="line">
    <button type="submit">Create</button>
</form>

</body>
</html>