<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${title}"></title>
    <style>
        th, td {
            padding: 5px;
            border: double 2px #A0A6F3;
        }
        .error {
            color: red;
            font-style: italic;
        }
    </style>
</head>


<body>


<table>
    <tr>
        <td>Numero</td>
        <td>Comment</td>
        <td>Collaborateur</td>
        <td>Id</td>

    </tr>
    <tr th:each="desk : ${deskList}">
        <td th:text="${desk.numero}"></td>
        <td th:text="${desk.comment}"></td>
        <td th:switch="${desk.collaborator}">
            <span th:case="null" th:text="Null" />
            <span th:case="*" th:text="${desk.collaborator.firstName}" />
        </td>
        <td th:text="${desk.id}"></td>
        <!-- <td><a data-toggle="modal" data-target="#editModal"><span class="glyphicon glyphicon-edit"></span></a></td> -->
    </tr>
</table>

</body>
</html>